<div class="container">
    <div class="fundologo">
        <h2>ELO</h2>
        <h2 id=dif>GROUP</h2>
    </div>
    <br>
        <form action="">
            <div class="col-md-5">
                <label for="exampleFormControlInput1" class="form-label">Nome</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" required>
            </div>
            <div class="col-md-5">
                <label for="exampleFormControlInput1" class="form-label">Telefone</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="" required>
            </div>
            <div class="col-md-5">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="" required>
            </div>
            <br>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">

                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                </th>
                <td><br></td>
            </tr>
            <tr>
                <th scope="row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                </th>
                <td>RPA</td>
            </tr>
            <tr>
                <th scope="row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                </th>
                <td>Produto Digital</td>
            </tr>
            <tr>
                <th scope="row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                </th>
                <td>Analytcs</td>
            </tr>
            <tr>
                <th scope="row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                </th>
                <td>RPA</td>
            </tr>
        </tbody>
    </table>
    <div>
        <button class="btn btn-success" type="submit" id="botao">Salvar</button>
    </div>
    </form>
</div>