   
 <div class="container">
        <div class="fundologo">
            <h2>ELO</h2>
            <h2 id=dif>GROUP</h2>
         </div>
        <br>

            <form action="">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Usuário</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" required>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Password</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ex:@1234567"
                        required>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Confirmação Password</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ex:@1234567"
                        required>
                </div>

                <div>
                    <button class="btn btn-success" type="submit" id="botao">Registrar</button>
                </div>
                
            </form>
    </div>
